.container-fluid {
    max-width: 1170px;
    margin: 0 auto;
    --bs-gutter-x: 0 !important; /* remove Bootstrap's default horizontal padding */
}
@media (min-width: 320px) and (max-width: 1024px) {
    .container-fluid {
        --bs-gutter-x:1.5rem !important;
    }
}
@media (min-width: 1601px) {
    .container-fluid {
        --bs-gutter-x:1.5rem !important;
    }
}
/* ---------- SITE HEADER ---------- */
.site-header {
    position: sticky;
    z-index: 100;
    background: transparent;
}


